	.articuloDeContacto{
	width: 90vw;
	margin: 15px auto;
	padding: 5px;
	text-align: center;
	box-shadow: 1px 1px 2px #888888;
	background-color: rgba(245, 245, 245, 1.0);
	border-radius: 7px;

	.contactoPorWap{
		padding: 5px;
		font-size: $fuenteMediana;
		margin-right: 5px;
		.textoFormu{
			font-size: $fuenteMediana;
		}
		.textoFormu1{
			color: $gris;
			font-size: $fuenteMediana;
}
}	
}
