@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');
$fuentePrincipal: 'Source Sans Pro', sans-serif;
$fuenteSecundaria: 'Poppins', sans-serif;

$fuenteGrande: 3em;
$fuenteMediana: 2em;
$fuenteChica: 1em;

$fuenteNegrita: 700;
$fuenteDelicada:300;
$fuenteNormal:400;


