*{
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%;
	color: $gris;
	

		.cuerpo{
			background: rgb(163,237,255);
			background: linear-gradient(180deg, rgba(163,237,255,1) 0%, rgba(237,235,235,1) 100%);
			figure{
			background-color: $blanco;
			padding: 14px;
			
			}
			}	
			h1, h2{
				color: $blanco;
				text-align: center;
				background-color: $azulPrincipal;
				border-radius: 7px;
				font-size: $fuenteMediana;
				padding: 5px;
			}
			h3{
				font-size: 2.5rem;
				color: $azulPrincipal;
				padding: 5px 0;
			p{
				font-size: $fuenteMediana;
			}
			fieldset{
				width: 80vw;
				border: none;
			}
			button{
				background-color: $azulPrincipal;
				font-size: $fuenteMediana;
				padding: 1px 5px;
				border-radius: 7px;
				color: $blanco;
				border: none;
				&:hover{
				background-color: $azulClaro;

				}

			}
			}
			.parrafo{
				@include texto(2.0rem, 2.5rem, $gris);
			}
			.tituloCarousel{
				font-size: $fuenteGrande;
				color: $blanco;
				text-shadow: 0px 0px 9px rgba(0,0,0,1);
			}
			.parrafoCarousel{
				font-size: $fuenteMediana;
				color: $blanco;
				text-shadow: 0px 0px 9px rgba(0,0,0,1);
			}
			.carousel .w-100-f{
				height: 85vh;
				margin: auto;
			}
			.nosParagraphs{
				height: 70vh;
				margin: auto;
			}
			.rights{
					text-align: center;
					margin-top: 15px;
					
				}
			}

			.cuerpoError{
				background: linear-gradient(180deg, rgba(163,237,255,1) 0%, rgba(237,235,235,1) 100%);
				.tituloError{
					color: $blanco;
					text-align: center;
				}
				.parrafoError{
						font-size: $fuenteMediana;
						text-align: center;
					}
				.imagenError{
					display: block;
 					margin: 5px auto;
				}
			}

		


