*{
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%;
	color: $gris;
	

		.cuerpo{
			background: rgb(163,237,255);
			background: linear-gradient(180deg, rgba(163,237,255,1) 0%, rgba(237,235,235,1) 100%);
			figure{
			background-color: $blanco;
			padding: 5px;
			
			}
			}	
			h1, h2{
				color: $blanco;
				text-align: center;
				background-color: $azulPrincipal;
				border-radius: 7px;
				font-size: $fuenteMediana;
				padding: 5px;
			}
			h3{
				font-size: $fuenteMediana;
				color: $azulPrincipal;
				padding: 5px 0;
			p{
				font-size: $fuenteMediana;
			}
			iframe{
				width: $ancho-90;
				height: 300px;
				border: none;
				}
			fieldset{
				width: 80vw;
				border: none;
			}
			button{
				background-color: $azulPrincipal;
				font-size: $fuenteMediana;
				padding: 1px 5px;
				border-radius: 7px;
				color: $blanco;
				border: none;
				&:hover{
				background-color: $azulClaro;

				}
			}
			}
			.parrafo{
				@include texto(2.0rem, 2.5rem, $gris);
			}
			}

		


