//anidado
.encabezado{
	background-color: $blanco;
	font-size: 1.5rem;
	img{
		width: 350px;
	}
	.nav-link{
		color:$azulPrincipal;
		font-family: $fuentePrincipal;
		margin-right: 15px;
		font-size: $fuenteLinks;
		&:hover{
			color: $gris;
		}
	}
}
