
.pie{ 
	.tituloDePie{
		color: $azulPrincipal;
		text-transform: uppercase;
		font-size: $fuenteMediana;
		text-align: center;
		padding: 15px 0;
		margin: auto;		
}
.pieContainer{
	display: flex;
	justify-content: center;
	
		.iconoDePie{
			width: 45px;
			margin: 10px 15px;
			&:hover{
				transform: scale3d(1.2, 1.2, 1.2);
				cursor: pointer;
			}
		}	
}
}